body {
    background-color: #464646;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: #dddddd;
}



/*#########################################################################*/
/*########################        NAV BAR         #########################*/
/*#########################################################################*/
.navbarClass {
    background-color: black;
    overflow: hidden;
}

.navbarClass a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: large;
}

.navbarClass a:hover {
    background-color: #ddd;
    color: black;
}

/*#########################################################################*/
/*########################         HOME           #########################*/
/*#########################################################################*/
.homeDiv {
    text-align: center;
}

.homeDiv h1 {
    font-size: 100px;
}

.homeDiv img {
    margin: auto;
}

#homeIntroDiv {
    width: 40%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}

/*#########################################################################*/
/*########################         GAMES          #########################*/
/*#########################################################################*/
.gameDiv {
    /*float: right;*/
    display: inline-flex;
    /*margin-left: 25px;*/
    /*margin-right: 25px;*/
    margin: 30px;
    /*width: 50%;*/
    /*vertical-align: center;*/
    /*horiz-align: center;*/
    /*position: inherit;*/
    text-align: justify;
}

.gameInfoDiv {
    width: 30%;
    background-color: #73c3b7;
    /*padding: 10px;*/
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    /*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
    display: inline;
    /*float: left;*/
}

.gameInfoDiv p, .gameInfoDiv h3 {
    color: #464646;

}

.gameImgDiv {
    /*width: 20%;*/
    display: inline;
    margin: auto;
}
/*.gameDiv img {*/
    /*!*margin: 25px;*!*/
    /*float: right;*/
    /*!*display: inline;*!*/
/*}*/




/*#########################################################################*/
/*########################        PROJECTS        #########################*/
/*#########################################################################*/

.projDiv {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
    text-align: justify;
    background-color: rgba(74, 194, 50, 0.71);
    padding: 25px;
    color: #464646;
}






/*#########################################################################*/
/*########################       LANGUAGES        #########################*/
/*#########################################################################*/
.langTable {
    /*border-collapse: collapse;*/
    /*border: 5px solid black;*/
    padding: 10px;
    vertical-align: middle;
}

.langTable thead {
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-bottom-width: thick;
    vertical-align: bottom;
}

.langTable tbody tr:nth-child(odd) {
    background-color: #636363;
}

.langTable tbody tr:hover {
    background-color: #73c3b7;
    color: #3d3cff;
}

.langTable tbody {
    /*border: 2px solid black;*/
}

.langCell {
    text-align: left;
}

.ratingCell {
    text-align: center;
}



/*#########################################################################*/
/*########################        CONTACT         #########################*/
/*#########################################################################*/
.contactDiv a {
    color: white;
}